{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Creating a  New Contact
{% endblock title %}
{% block content %}
    <div class="container">
      <h2 class="heading font-weight-lighter text-center dreamer">Create New Contact</h2>
      <hr/>
    </div>
    <div class="container w-25 card p-6 mt-3">
      <form action="" method="POST" enctype="multipart/form-data" class="my-form">
        {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Create" class="btn  pressDownButton w-100 text-black mb-5 ">
      </form>
    </div>



{% endblock content %}
